.popup td,th,tbody,table{padding:0;}
.bubbleInfo {
            position: relative;
           width:400px;
            
        }
        .trigger {
           float:right;
           
            margin-top: -18px;
        }
     
        /* Bubble pop-up */

        .popup {
                position: absolute;
                display: none;
                padding:0;
                margin:0;
                z-index: 50;
                border-collapse: collapse;
        }

        .popup td.corner {
                height: 15px;
                width: 15px;
        }

        .popup td#topleft { background-image: url(../img/bubble-1.png); }
        .popup td.top { background-image: url(../img/bubble-2.png); }
        .popup td#topright { background-image: url(../img/bubble-3.png); }
        .popup td.pleft { background-image: url(../img/bubble-4.png); }
        .popup td.pright { background-image: url(../img/bubble-5.png); }
        .popup td#bottomleft { background-image: url(../img/bubble-6.png); }
        .popup td.bottom { background-image: url(../img/bubble-7.png); text-align: center;}
        .popup td.bottom img { display: block; margin: 0 auto; }
        .popup td#bottomright { background-image: url(../img/bubble-8.png); }
        .bottomtail {background-image:url(../img/bubble-tail2.png);width:30px;height:20px;margin-top: -1px;}

        .popup table.popup-contents {
                font-size: 12px;
                line-height: 1.2em;
                background-color: #fff;
                color: #666;
                font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
                }

        table.popup-contents th {
                text-align: right;
                
                }

        table.popup-contents td {
                text-align: left;
                }

        tr#release-notes th {
                text-align: left;
                text-indent: -9999px;
                background: url(../img/starburst.gif) no-repeat top right;
                height: 17px;
                }

        tr#release-notes td a {
                color: #333;
        }
        
   
